/* navigation bar */
.navbar {
  border-top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  border-bottom: 2px solid black;
  width: 90%;
}

.navbar a {
  color: grey;
  font-size: 18px;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar .nav-link {
  color: black;
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Adds hover effect */
}

/* button info */

button {
  /* actual button */
  color: white;
  background-color: lightpink;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 0;
  border-radius: 5px;
  padding: 10px 25px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
}

.button-container {
  text-align: center;
}

.modal-content {
  background-color: white;
  width: 40%;
  max-width: 100%;
  padding: 50px 50px 30px 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  min-height: 200px;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-content p {
  color: black;
  font-size: 12px;
  text-align: left;
}

/* The Close Button */
.close-skincare,
.close-arduino {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 20px;
}

.close-skincare:hover,
.close-skincare:focus,
.close-arduino:hover,
.close-arduino:focus {
  color: black;
  text-decoration: none;
}

/* main body */
main {
  text-align: center;
  width: 100%;
  padding-top: 80px;
  padding: 5%;
}

h1 {
  text-align: left;
  font-size: 5rem;
  font-weight: bold;
  color: black;
  padding-bottom: 10px;
  padding-left: 20px;
}

body {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.row {
  width: 100%;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px 30px;
}

/* left side */
.left-1 {
  overflow: hidden;
}

.team-image {
  padding-bottom: 5px;
  width: 100%;
  height: 100%;
}

/* right side */
.right-1 {
  display: flex;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
}

.right {
  overflow: hidden;
}

.projects {
  padding-left: 20px;
}

h2 {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 26px;
  font-size: 1.8rem;
  color: black;
}

h3 {
  line-height: 26px;
  padding-bottom: 5px;
  font-size: 1.2rem;
  color: black;
}

p {
  line-height: 26px;
  padding-bottom: 15px;
  font-size: 1.2rem;
  color: black;
}

/* applies when size is smaller than 991 px for .projects class*/
@media (max-width: 991px) {
  .projects {
    padding-left: 0;
  }
}

/* applies when size is smaller than 768 px for .row class */
@media (max-width: 768px) {
  .row {
    width: 90%;
    grid-template-columns: 1fr;
  }

  .left-1 {
    order: 2;
  }

  .right-1 {
    order: 1;
  }

  .left {
    order: 4;
  }

  .right {
    order: 3;
  }
}

.pcr-image {
  padding-bottom: 50px;
  width: 100%;
  height: 100%;
}

/* bottom of page */
footer {
  text-align: center;
  width: 90%;
  border-top: 2px solid black;
  padding: 10px 0;
  margin: 0 auto;
}

h4 {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 5px;
  color: black;
  font-size: 1rem;
}
